@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Bebas Neue Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/BebasNeuePro-Regular.woff") format("woff"),
       url("../assets/fonts/BebasNeuePro-Regular.woff2") format("woff2");
}


@import "tailwindcss";

@theme{
      --font-jost: "Jost", sans-serif;
       --font-bebas-pro: "Bebas Neue Pro", sans-serif;
       --font-bebas-neue: "Bebas Neue", sans-serif;
}
