@media only screen and (max-width: 1199px) {
  /* hero */
  .standard-logo,
  .sticky-logo {
    width: 160px;
  }
  .brand-title {
    font-size: clamp(48px, 16vw, 247px);
  }
  .enter-left {
    left: -69px;
  }

  .enter-right {
    right: -69px;
  }

  /* cta-sec */

  .cta-title {
    font-size: 56px;
    line-height: 60px;
  }
  .cta-title span {
    font-size: 56px;
    line-height: 60px;
  }
  /* .cta-image {
    margin-right: 0px;
  } */

  /* when-where */
  /* courses */
  /* date-sec */
  /* cta-sec-2 */
  .cta-sec-2 .cta-text {
    width: 100%;
    padding-top: 0px;
  }
  .cta-sec-2 .img {
    width: 100%;
    padding-top: 0px;
  }

  .cta-sec-2-img::after {
    display: none;
  }
  .cta-sec-2-img {
    margin-left: 0px;
  }
  /* footer */

  /* sponsors page */
  /* banner */
  .bg-clip {
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 65% 65%, 0 0);
  }
  .txt {
    font-size: 20px;
    line-height: 32px;
  }

  .banner-title {
    font-size: 38px;
  }
  .menu-title {
    font-size: 48px;
    line-height: 65px;
  }

  /* bingham page */
  .competition-title {
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 1.1px;
  }
  .enter-btn {
    padding: 10px 40px;
  }
  .cta-image-after2::after {
    display: none;
  }

  .cta-younger::before {
    left: 17px;
    width: 92px;
  }
  .cta-older::before {
    left: 7px;
    width: 116px;
  }
}

@media only screen and (max-width: 1068px) {
  /* hero */
  .standard-logo,
  .sticky-logo {
    width: 150px;
  }
  .enter-left {
    left: 0px;
    font-size: 40px;
    padding: 15px 67px;
  }

  .enter-right {
    right: 0px;
    font-size: 40px;
    padding: 16px 67px 16px 67px;
  }

  .brand-title {
    font-size: clamp(48px, 16vw, 247px);
  }
  /* cta-sec */
  .cta-image::before {
    width: 114px;
    height: 46%;
    clip-path: polygon(0 0, 32% 75%, 55% 0);
  }
  .cta {
    gap: 20px;
  }
  /* when-where */
  /* courses */
  /* date-sec */
  .date {
    clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
  }
  /* cta-sec-2 */

  /* footer */
  .enter-btn {
    padding: 10px 36px;
  }

  /* sponsors */
  .txt {
    font-size: 18px;
    line-height: 30px;
  }
  .banner-title {
    font-size: 40px;
  }

  /* bingham page */
  .competition-title {
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 1px;
  }
  .competition-desc {
    font-size: 16px;
    letter-spacing: 0.32px;
  }

  .cta-image-after::after {
    right: -27px;
    width: 82px;
  }
  .cta-image-after2::after {
    right: -27px;
    width: 82px;
  }
  .cta-younger::before {
    left: 17px;
    width: 106px;
  }
  .cta-older::before {
    left: 7px;
    width: 97px;
  }
}

@media only screen and (max-width: 991px) {
  /* hero */
  .standard-logo,
  .sticky-logo {
    width: 122px;
  }
  .hero {
    height: 530px;
  }
  .enter-left {
    left: 0px;
    font-size: 24px;
    padding: 15px 50px;
  }

  .enter-right {
    right: 0px;
    font-size: 24px;
    padding: 15px 50px;
  }

  .brand-title {
    font-size: clamp(48px, 18vw, 247px);
  }
  /* cta-sec */
  .cta-title {
    font-size: 48px;
    line-height: 52px;
  }
  .cta-title span {
    font-size: 48px;
    line-height: 52px;
  }

  .cta-image::before {
    left: 11px;
    width: 80px;
    height: 50%;
    clip-path: polygon(0 0, 34% 72%, 60% 0);
  }
  .cta {
    gap: 10px;
  }
  /* when-where */
  /* courses */
  /* date-sec */
  /* cta-sec-2 */
  /* footer */
  .enter-btn {
    padding: 10px 15px;
    font-size: 16px;
  }

  /* sponsorspage */
  .menu-title {
    font-size: 38px;
    line-height: 42px;
  }

  /* bingham page */
  .competition-title {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 1px;
  }
  .cta-younger::before {
    width: 74px;
  }
  .cta-older::before {
    top: 8px;
    width: 72px;
  }
}
@media only screen and (max-width: 768px) {
  .standard-logo,
  .sticky-logo {
    width: 140px;
  }

  
  /* hero */
  .hero {
    height: 440px;
  }

  .enter-left {
    clip-path: polygon(0 0, 100% 0%, 96% 100%, 0% 100%);
    font-size: 24px;
    padding: 12px 30px;
  }
  .enter-right {
    clip-path: polygon(5% 0, 100% 0%, 100% 99%, 0% 100%);
    font-size: 24px;
    padding: 12px 30px;
  }

  /* cta-sec */
  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cta-title {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .cta-title span {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
  }

  .cta-desc {
    font-size: 16px;
    letter-spacing: 0.33px;
    padding-top: 20px;
  }

  .cta-image::before {
    width: 130px;
  }
  .cta-text {
    width: 100%;
  }

  .cta-image-after img {
    height: 417px;
  }
  /* when-where */
  /* courses */

  .courses-wrapper .left-arrow,
  .courses-wrapper .right-arrow {
    display: none;
  }
  .courses-wrapper .slick-slide {
    padding: 0 8px; /* ছোট স্ক্রিনে কম gap */
  }
  .courses-wrapper .slick-list {
    margin: 0 -8px; /* padding এর সাথে balance */
  }

  /* date-sec */
  .date {
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .clip-kidsq {
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }
  /* cta-sec-2 */
  /* footer */

  /* sponsors page */

  .cta-image-after::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -22px;
    width: 124px;
    height: 47%;
    background: #591419;
    z-index: 2;
    pointer-events: none;
    clip-path: polygon(0 0, 27% 75%, 61% 0);
  }
  .cta-image-after2::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -22px;
    width: 124px;
    height: 47%;
    background: #591419;
    z-index: 2;
    pointer-events: none;
    clip-path: polygon(0 0, 27% 75%, 61% 0);
  }
  .cta-younger::before {
    left: 17px;
    width: 120px;
  }
  .cta-older::before {
    top: 12px;
    width: 140px;
  }
  /* bingham page */
  .competition-title {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 1px;
    text-align: center;
  }

  .cta-text {
    width: 100%; /* Make the text container full width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text inside */
  }

  .cta-text a {
    margin-left: 0; /* Remove any left margin */
    margin-right: 0; /* Remove any right margin */
    display: inline-flex;
    justify-content: center;
  }
  .competition-desc {
    text-align: center;
  }
  
}
@media only screen and (max-width: 600px) {
  /* hero */
  .standard-logo,
  .sticky-logo {
    width: 120px;
  }
  .hero {
    height: 430px;
  }
  .enter-left {
    font-size: 16px;
    left: 0px;
    padding: 13px 30px;
  }

  .enter-right {
    font-size: 16px;
    right: 0px;
    padding: 13px 30px;
  }
  /* cta-sec */
  /* .cta-image img{
    height: 300px;
  } */
  .cta-image::before {
    width: 86px;
  }
  /* when-where */
  /* courses */
  /* date-sec */
  /* cta-sec-2 */
  /* footer */

  /* sponsors page */
  .cta-image-after::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -20px;
    width: 73px;
    height: 47%;
    background: #591419;
    z-index: 2;
    pointer-events: none;
    clip-path: polygon(0 0, 27% 75%, 61% 0);
  }
  .cta-image-after2::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -20px;
    width: 73px;
    height: 47%;
    background: #591419;
    z-index: 2;
    pointer-events: none;
    clip-path: polygon(0 0, 27% 75%, 61% 0);
  }
  .cta-younger::before {
    left: 11px;
    width: 72px;
  }
  .cta-older::before {
    top: 7px;
    width: 78px;
  }
}
@media only screen and (max-width: 400px) {
  /* hero */
  .standard-logo,
  .sticky-logo {
    width: 115px;
  }
  .hero {
    height: 420px;
  }
  .enter-left {
    left: 0px;
    padding: 12px 20px;
  }

  .enter-right {
    right: 0px;
    padding: 12px 20px;
  }
  /* cta-sec */
  .cta-title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.8px;
  }
  .cta-title span {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.8px;
  }
  .cta-image::before {
    width: 69px;
    top: 8px;
  }

  .courses-wrapper .slick-slide {
    padding: 0; /* 1টা image হলে gap থাকবে না */
  }
  .courses-wrapper .slick-list {
    margin: 0;
  }
  /* when-where */
  .when-clip-path {
    clip-path: none;
  }
  /* courses */
  /* date-sec */
  .clip-kidsq {
    clip-path: none;
  }
  .date {
    clip-path: none;
  }
  /* cta-sec-2 */
  .cta-younger::before {
    top: 7px;
    width: 70px;
  }
  /* footer */
}
